@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;

}

body {

    background-color: #b2f8f2;

}

header {

    background-color: #b5eb95;
}

main {
    display: grid;
}
h1{

    margin: auto;
    text-align: center;
}